html,
body {
  padding: 0;
  margin: 0;

  font-family: proxima-nova, sans-serif;
  background-color: white;
  color: black;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
}
 
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-corner {
  background-color: rgb(255, 255, 255);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: none;

  border-radius: 1em;
}